---
  import ImageShowcase from '../components/ImageShowcase.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Kreativ AI i 2024</title>
	</head>
	<body class="absolute inset-0">
    <div class="snap-y snap-mandatory w-full h-screen overflow-y-scroll overflow-x-hidden">
      <section class="w-full flex flex-col items-center justify-center h-screen snap-center snap-always">
        <h1 class="text-4xl font-semibold">
          Kreativ AI i 2024
        </h1>   
        <h3 class="text-lg brightness-50">Av Elvin</h3>
      </section>
      <section class="w-full flex-col lg:flex-row flex items-center justify-center h-screen snap-center snap-always">
        <ImageShowcase image="OsloStreet.webp" title="Oslo i April" prompt="Create an image of a normal day in Oslo during april." description="Dette er et bilde generert av OpenAIs bildemodell DALLE 2.0. Her kan man se at den ikke helt treffer i mål når det gjelder Oslo, men at man kan se at det er tydelig inspirert av Oslo. Noe som tyder på at den ikke er trent opp på veldig mange bilder av Norge og Oslo."/>
      </section>
      <section class="w-full flex-col lg:flex-row flex items-center justify-center h-screen snap-center snap-always">
        <ImageShowcase image="MightyWarrior.webp" title="Mektig Kriger" prompt="Create a mighty warrior with divine powers." description="Dette er et annet bilde generert av DALLE 2. Her kan man se at den bygger veldig på hvordan vestlig populærkultur ville forestilt seg en kriger. Det er en mann med store muskler og som ser guddommelig ut. Det ser ut som noe fra World of Warcraft."/>
      </section>
      <section class="w-full flex-col lg:flex-row flex items-center justify-center h-screen snap-center snap-always">
        <ImageShowcase image="DarkSouls.webp" title="Dark Souls" prompt="Create a character from Dark Souls." description="Her har DALLE 2 laget en karakter som ligner litt på noe fra Dark Souls serien, men det er klart at den ikke prøver å lage noe for likt på grunn av opphavsrett. Derfor ser karakteren egentlig bare mest ut som noe fra en mørk fantasiverden i stedet for spesifikt Dark Souls."/>
      </section>
      <section class="w-full flex-col lg:flex-row flex items-center justify-center h-screen snap-center snap-always">
        <ImageShowcase image="Norway.webp" title="En dag i Norge" prompt="Create an image of an average day in Norway." description="AI-en har åpenbart bygd på stereotyper og norsk kultur for å lage det den tror er en gjennomsnittlig hverdag i Norge. Her er det igjen tydelig at AI-en ikke er trent opp på mye data av Norge i nåtid og derfor sliter med å lage en gjennomsnittlig dag."/>
      </section>
      <section class="w-full flex-col lg:flex-row flex items-center justify-center h-screen snap-center snap-always">
        <ImageShowcase image="USA.webp" title="En dag i USA" prompt="Create an image of an average day in the USA." description="Dette er et veldig godt eksempel på hvordan AI egentlig bare er trent opp på data den får. Dette ligner mye mer på en vanlig dag i USA, spesielt i forhold til det som ble generert for Norge. Det er tydelig at det er mer data om USA på nettet."/>
      </section>
    </div>

	</body>
</html>
